.atrasThree{
    background-color: #000000;
    
}
@mixin anchoAltoFooter($width, $height) {
    height: $height;
    width: $width;  
}
.subtitulosFooter{
    color: $rojoFooter;
    text-align: $centroFooter;
}

.rojoFooter{
    color: red;
    text-align: center
}
.footer__preguntasOne{
    @extend .rojoFooter;
    margin:0px 0px 15px;
    font-size: $numeroFooter; 

    
}
.footer__preguntas__preguntas--preguntasTwo{
    margin: 0px 0px 25px;
    color: rgb(255, 255, 255);
    
}

.enLineaFooter{  
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;   
} 
.enLineaFooter__agrandar{
    @include anchoAltoFooter(50px, 50px);
    margin-bottom: 5px;
    transition: 2s;

    
}
.enLineaFooter__agrandar__agrandar--agrandarTwo{
    @include anchoAltoFooter(55px, 55px);
    margin-bottom: 50px;
    transition: 2s;  
}
.enLineaFooter__agrandar__agrandar--agrandarThree {
    @include anchoAltoFooter( 55px, 55px);
    margin-bottom: 50px;
    transition: 2s; 
}
.enLineaFooter__agrandar :hover{
    @include anchoAltoFooter(100px, 100px);  
}
.enLineaFooter__agrandar__agrandar--agrandarTwo :hover{
    @include anchoAltoFooter(100px, 100px);
}
.enLineaFooter__agrandar__agrandar--agrandarThree :hover{
    @include anchoAltoFooter(100px, 100px);
}

@media(max-width:449px){
    .animacionFooter{
        height: 55px;
        font-size: 21px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandar;
     
     @keyframes agrandar {
            0%{ font-size: 8px;}
            25%{ font-size: 12px;}
            50%{ font-size: 14px;}
            75%{ font-size: 17px;}
            100%{ font-size: 21px;}
        }    
    }
   
   
}
@media(min-width:450px){
    .animacionFooter{
        height: 55px;
        font-size: 21px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandar;
     
     @keyframes agrandar {
            0%{ font-size: 8px;}
            25%{ font-size: 12px;}
            50%{ font-size: 14px;}
            75%{ font-size: 17px;}
            100%{ font-size: 21px;}
        }    
    }
}
@media(min-width:768px){ 
    .animacionFooter{
        height: 55px;
        font-size: 23px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandar;
     
     @keyframes agrandar {
            0%{ font-size: 8px;}
            25%{ font-size: 12px;}
            50%{ font-size: 18px;}
            75%{ font-size: 22px;}
            100%{ font-size: 23px;}
        }    
    }

}


