.atras{
    background-color: rgb(77, 77, 221);
    border:outset 3px #eeecf8;
    margin-bottom: 10px;
}

@media(max-width:449px){
    .header__titulo{
        font-size: 28px;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-name: aparecer;
        margin-right: 0px;
        display: inline;
     @keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }

     }

    }
    .animacion{
        height: 48px;
        font-size: 23px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandarTwo;
     
     @keyframes agrandarTwo {
            0%{ font-size: 7px;}
            25%{ font-size: 10px;}
            50%{ font-size: 14px;}
            75%{ font-size: 17px;}
            100%{ font-size: 20px;}
        }  

    }
    .imgTwo{
        width: 60px; 
        height: 60px;
    }
}
@media(min-width:450px){
    .header__titulo{
        font-size: 28px;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-name: aparecer;
        margin-right: 0px;
        display: inline;
     @keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }

     }

    }
    .animacion{
        height: 33px;
        font-size: 23px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandarTwo;
     
     @keyframes agrandarTwo {
            0%{ font-size: 7px;}
            25%{ font-size: 10px;}
            50%{ font-size: 14px;}
            75%{ font-size: 17px;}
            100%{ font-size: 20px;}
        }  

    }
   
    .imgTwo{
        width: 65px; 
        height: 65px;
    }
}
@media(min-width:768px){ 
    .header__titulo{
        font-size: 35px;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-name: aparecer;
        margin-right: 160px;
        display: inline;
     @keyframes aparecer {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }  

     }

    }
    .animacion{
        height: 40px;
        font-size: 24px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandarTwo;
     
     @keyframes agrandarTwo {
            0%{ font-size: 10px;}
            25%{ font-size: 15px;}
            50%{ font-size: 18px;}
            75%{ font-size: 21px;}
            100%{ font-size: 24px;}
        }  

    }
   
    .imgTwo{
        width: 85px; 
        height: 85px;
    }
}


