
.atrasTwo{
    background-color:#ffffff;
}
.subtitulosSection{
    color: $azul;
    text-align: $centro;
    margin: $distaciamiento;
}
.center{
    text-align: $centro;
}
.gridOne{
    display: grid;
    justify-content: center;  
}
.article__parrafoOne__parrafoOne--parrafoThree{
    color: rgb(238, 93, 93);
    text-decoration: none; 
    text-align:  $centro;
    margin: $distaciamientoTwo;
    font-size: $numero;
}
.evenly{
    display: flex;
    justify-content: space-evenly;
    margin: $distaciamiento;
    padding: unset; 
}
.around{
    display: flex;
    justify-content: space-around;
}
.margin{
    margin-top: 10px;
}
.marginTwo{
    margin-bottom: 20px;
}
.marginThree{
    margin: 10px 30px 10px 30px;
}
.row{
    margin-right: unset;
    margin-left: unset;
}

@media(max-width:449px){
    .animacion{
        height: 48px;
        font-size: 23px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandarTwo;
     
     @keyframes agrandarTwo {
            0%{ font-size: 7px;}
            25%{ font-size: 10px;}
            50%{ font-size: 14px;}
            75%{ font-size: 17px;}
            100%{ font-size: 20px;}
        }  

    }
    .gridTwo{
        display: grid;
        justify-content: center;
    }
    .imgThree{
        height: 250px;
    }
    .imgFour{
        max-width: 95%;
        justify-self: center;
    }
    .imgFive{
        max-width: 48%;  
        margin: 3px; 
    }
    .imgSix{
        max-width: 80%;
        justify-self: center;
        width: 350px;
        height: 270px;

    }  
    .marginTwo{
        margin-left:unset ;
    }
    .marginFour{
        margin-left: 15px;
    }
    .marginFive{
        margin: 15px;
    }
}
@media(min-width:450px){
    .animacion{
        height: 33px;
        font-size: 23px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandarTwo;
     
     @keyframes agrandarTwo {
            0%{ font-size: 7px;}
            25%{ font-size: 10px;}
            50%{ font-size: 14px;}
            75%{ font-size: 17px;}
            100%{ font-size: 20px;}
        }  

    }
    .gridTwo{
        display: grid;
        justify-content: center;
    }
    .imgThree{
        height: 250px;
    }
    .imgFour{
        max-width: 95%;
        justify-self: center;
    }
    .imgFive{
        max-width: 48%;  
        margin: 3px; 
    }
    .imgSix{
        max-width: 70%;
        justify-self: center;
        height: 350px;
    }  
    .marginTwo{
        margin-left:unset ;
    }
    .marginFour{
        margin-left: 35px;
    } 
}
@media(min-width:768px){ 
    .animacion{
        height: 40px;
        font-size: 24px;
        animation-iteration-count:initial ;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-name: agrandarTwo;
     
     @keyframes agrandarTwo {
            0%{ font-size: 10px;}
            25%{ font-size: 15px;}
            50%{ font-size: 18px;}
            75%{ font-size: 21px;}
            100%{ font-size: 24px;}
        }  

    }
    .evenlyTwo{
        display:flex ;
        justify-content: space-evenly;
    }
    .imgThree{
        width: 400px;
        height: 300px;  
    }
    .imgSix{
        width: 650px;
        height: 350px;
    }
    .marginTwo{
        margin-left: 35px;
    }
    .marginFour{
        margin: 35px 0px 5px;
    }
    .marginSix{
        margin-left: 35px;
    }
}
@media(min-width:1190px){
    .imgThree{
        width: 400px;
        height: 300px; 
    } 
} 
