.article__parrafoOne{
    margin:$distaciamientoTwo;
    text-align:  $centro;
}
.article__parrafoOne__parrafoOne--Subtitulo{
    color: $azul;
    text-align: $centro;
    padding: 5px;
    margin: $distaciamiento;
}
.article__parrafoOne__parrafoOne--parrafoTwo{
    text-align: $centro;
    margin: $distaciamiento; 
}
.div{
    display: grid;
}
.div__iframe{
    justify-self: center;  
}
