@media(max-width:449px){
    .tamañoTwo{
        height:580px;
        width: 290px;
    }
    .tamañoThree{
        height:530px;
        width: 290px;
    }
}
@media(min-width:450px){
    .tamañoTwo{
        height:670px;
        width: 420px;
    }
    .tamañoThree{
        height:505px;
        width: 437px;
    }
}
@media(min-width:768px){
    .tamañoTwo{
        height:unset;
        width: 270px;
    }
    .tamañoThree{
        height: 555px;
        width: unset;
    }
 
}
@media(min-width:1190px){
    .tamañoTwo{
        height:unset;
        width: unset;
    }
    .tamañoThree{
        height: 510px;
        width: unset;
    }
    
} 

