.atrasTwo{
    background-color:#ffffff

}
.subtitulosSection{
    color: $azul;
    text-align: $centro;
    margin: $distaciamiento;
}


.linea{
    display: inline-block;
}

.center{
    text-align: $centro;
}


.gridOne{
    display: grid;
    justify-content: center;
    
}
.article__parrafoOne__parrafoOne--parrafoThree{
    color: rgb(238, 93, 93);
    text-decoration: none; 
    text-align:  $centro;
    margin: $distaciamientoTwo;
    font-size: $numero;
}
.evenly{
    display: flex;
    justify-content: space-evenly;
    margin: $distaciamiento;
    
}

.rojoSection{
    color: $red;
    text-decoration: none; 
    text-align:  $centro;    
}   
.pxOne{
    font-size: $numero;
    
}
.around{
    display: flex;
    justify-content: space-around;
}
.margin{
    margin-top: 10px;
}
.marginTwo{
    margin-bottom: 10px;
}