.atrasTwo{
    background-color:#ffffff;
}
.subtitulosSection{
    color: $azul;
    text-align: $centro;
    margin: $distaciamiento;
}
.center{
    text-align: $centro;
}
.gridOne{
    display: grid;
    justify-content: center;  
}
.article__parrafoOne__parrafoOne--parrafoThree{
    color: rgb(238, 93, 93);
    text-decoration: none; 
    text-align:  $centro;
    margin: $distaciamientoTwo;
    font-size: $numero;
}
.evenly{
    display: flex;
    justify-content: space-evenly;
    margin: $distaciamiento;
    padding: unset; 
}
.around{
    display: flex;
    justify-content: space-around;
}
.margin{
    margin-top: 10px;
}
.marginTwo{
    margin-bottom: 10px;
}
.marginThree{
    margin: 0px 5px 0px 5px;
}
.row{
    margin-right: unset;
    margin-left: unset;
}

