@mixin anchoAltoSection($width,$height) {
    width: $width;
    height: $height;
}
.input{
    @include anchoAltoSection(200px, 20px);
    background-color: white;
    transition: 2s;
}
.input:focus{
    @include anchoAltoSection(240px, 25px);
    font-size: 25;
    background-color: rgb(136, 247, 145);
}
.color{
    color: rgb(0, 0, 0);
    background-color: #0d6efd;
}
.color:hover{
    color: $red;
    background-color: rgb(0, 0, 0);
    font-weight:700;
}
.borderSelect{
    border: inset 3px; 
}
.red{
    color: rgb(197, 37, 37);
} 
@media(max-width:449px){
    .posicionOne{
        display: grid;
        flex-direction: column;
        justify-content:center;
    }
    .fontSizeOne{
        font-size: 18px;
    }
    .fontSizeTwo{
        font-size: 12.5px;
    }
}
@media(min-width:450px){
    .posicionOne{
        display: grid;
        flex-direction: column;
        justify-content:center;
    }
}
@media(min-width:768px){ 
    .posicionOne{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

}



