$distaciamientoHeader: 10px 0px;
$redHeader:rgb(180, 30, 30);
$azulHeader:rgb(24, 24, 136);
$red:rgb(180, 30, 30);
$numero:17px;
$centro: center;
$distaciamiento: 11px 0px;
$distaciamientoTwo:0px 0px 12px;
$azul:rgb(25, 25, 146);
$ancho: 800px;
$alto: 600px;
$green:rgb(29, 133, 29); 
$greenFooter:rgb(24, 128, 38);
$distaciamientoFooter: 10px 0px;
$distaciamientoFooterTwo:0px 0px 12px;
$redFooter:rgb(180, 30, 30);
$numeroFooter:17px;
$centroFooter: center;