$red: red;
$numero:17px;
$centro: center;
$distaciamiento: 11px 0px;
$distaciamientoTwo:0px 0px 12px;
$ancho: 800px;
$alto: 600px;
$azul:rgb(5, 5, 138);
$rojoFooter:rgb(218, 12, 12);
$numeroFooter:17px;
$centroFooter: center;